:root{
    --primary-text-color:#212121;
    --paragraph-color: #757575;
    --white-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --primary-background-color: #FFFFFF;
    --additional-background-color: #F5F4FA;
    --footer-color: #2F303A;
}

/* Reset */

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

address {
    font-style: normal;
}

button {
    font-family: inherit;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* General */

body {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-size: 14px;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.container{
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Header*/
.header {
    border-bottom: 1px solid #ECECEC;
}

.main-nav {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
}

/* Header-logo */
.header-logo{
    margin-right: 93px;
    color: var(--logo-color);
}
.accent-logo{
    color: var(--accent-color);
}
.header-logo, .accent-logo, .footer-logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
/* Navigation */
.nav-list{
    display: flex;
}
.nav-item:not(:last-child){
    margin-right: 50px;
}
.nav-link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.nav-link.current{
    color: var(--accent-color);
}
.nav-link:hover, .list-nav .link:focus{
    color: var(--accent-color);
}

/* Navigation, contacts */
.contacts{
    display: flex;
    margin-left: auto;
}
.contacts-item:not(:last-child){
    margin-right: 50px;
}
.contacts-link{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;

    color: var(--paragraph-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}
.contacts-link:hover, .contacts .link:focus{
    color: var(--accent-color);
}
.contacts-icon {
    margin-right: 10px;
    fill: currentColor;
}

/* Hero */
.hero{
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) ,url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    text-align: center;
    background-color: var(--footer-color);
}

.hero-title{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 696px;
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 216px;
    border-radius: 4px;
    border: none;

    color: var(--white-text-color);
    background-color: var(--accent-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.06em;
}

/* Секції Загальні налаштування*/
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section .section-text{
    
}

.section-title{
font-weight: 700;
    line-height: 1.14;

    
}
.section-text{


    line-height: 1.71;
    color: var(--paragraph-color);
}
/* Specialty */
.specialty-list{
    display: flex;
    gap: 30px;
}
.specialty-item{
    width: calc((100% - 90px)/4);
}
.specialty-content{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 120px;
    margin-bottom: 30px;
    
    background-color: var(--additional-background-color);
}

.specialty-title{
    margin-bottom: 10px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}
.specialty-text{
     color: var(--paragraph-color);
    line-height: 1.71;
}
/* Works */
.works{
padding-top: 0;
}
.works-title{
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.works-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

/* Team */

.team{
    background-color: var(--additional-background-color);
}
.team-title{
    margin-bottom: 50px;
    font-weight: 700;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.team-list {
    display: flex;
    gap: 30px; 
}
.team-item{
    background-color: var(--white-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;   
}
.team-member{
    padding-top: 30px;
    padding-bottom: 16px;
}
.member-title{
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.member-text{
    color: var(--paragraph-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-networks{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.member-link {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
    color: #AFB1B8;
}
.member-link:hover,
.member-link:focus{
    background-color: var(--accent-color);
    color: var(--white-text-color);
}

.networks-icon{
    fill: currentColor;
}


/* Cliens*/
.clients-title{
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.clients-list{
    display: flex;
    gap: 30px;
}


.clients-link{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    min-height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
}

.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}
.clients-icon {
    display: block;
    fill: currentColor;
}


/* Footer */
.footer{
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--footer-color);
}
.footer-contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    align-items: baseline;
}

.logo{
    display: inline-block;
    margin-bottom: 20px;
}
.footer-logo {
    color: var(--white-text-color);

}

.address-link {
    display: inline-block;
    margin-bottom: 9px;

    color: var(--white-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.footer-list{
    display: block;
}
.mail-link, .tel-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71
}
.mail-link{
    display: inline-block;
    margin-bottom: 9px;
}

.networks-title{
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14 ;
    text-transform: uppercase;
    color: var(--white-text-color);
}
.networks-list {
    display: flex;
    gap: 10px;
}
.networks-link {
    display: inline-block;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    fill: var(--white-text-color);
    background-color: rgba(255, 255, 255, 0.1);
}

.networks-link:hover,
.networks-link:focus {
    background-color: var(--accent-color);
}

/* Portfolio */
.filter-list{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    gap: 8px;
}
.filter-button{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
    min-width: 73px;
    border: none;
    border-radius: 4px;
    
    background-color: var(--additional-background-color);
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.63;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.filter-button:hover,
.filter-button:focus{
    color: var(--white-text-color);
    background-color: var(--accent-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.projects-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects-item {
    flex-basis: calc(100%-60)/3;
}
.projects-item:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-firm{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}
.projects-title{
    margin-bottom: 4px;

    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.projects-text{
    color: var(--paragraph-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
